html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    cursor: url(./img/mata_mosca.png) 30 30, auto;
    

}

body {
    background: url(img/bg.jpg) no-repeat center fixed;
    background-size: cover;
    
    
}

.mosquito1 {
    height: 70px;
    width: 70px;
}

.mosquito2 {
    height: 80px;
    width: 80px;
}

.mosquito3 {
    height: 95px;
    width: 95px;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0;
    bottom: 0px;
    border-top: 1px #fff;
    background-color: #fff;
    opacity: 0.8;
}

div.form-group {
    display: block;
        
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
}

input {
    background: none;
}

input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.15, #C5C5C5)
    );
    
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #f04646;
    border: 1px solid #f15959;
    height: 15px;
    width: 15px;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

#infos {
    background-color: #fff;
    font-size: 1.5em;
    font-weight: bold;

}


#infos .mosquito1 {
    height: 40px;
    width: 40px;
    margin-top: 5px;
}



@media (min-width:992px) {
    div.row img#principal {
        height: 400px;
        width: 400px;
    }
    #infos {
        color: rgb(0, 0, 0);
        background-color: #fff;
        box-sizing: border-box;
        font-size: 0.73em;
        font-weight: bold;
        margin: auto;
    
    }

    .mosquito1 {
        height: 50px;
        width: 50px;
    }
    
    .mosquito2 {
        height: 70px;
        width: 70px;
    }
    
    .mosquito3 {
        height: 90px;
        width: 90px;
    }
}


